/* RESET & TYPOGRAPHY */
* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
}
body {
	font-family: "ff-din-web", Helvetica, Arial, sans-serif;
	font-size: 16px;
  font-weight: 500;
	line-height: 1.6;
  color: #111;
  background-color: #fff;
}
@media screen and (min-width: 600px) {
  html, body {
    font-size: 18px;
  }
}
@media screen and (min-width: 900px) {
  html, body {
    font-size: 20px;
  }
}
@media screen and (min-width: 1800px) {
  html, body {
    font-size: 22px;
  }
}
h1, h2, h3, h4, h5, h6 {
  margin: 0 0 10px;
  font-weight: bold;
  line-height: 1.25;
  text-rendering: optimizeLegibility;
}
p {
  margin-top: 0.2em;
}
a {
  color: inherit;
}
a:hover,
a:focus {
}
strong {
  font-weight: 500;
  font-style: italic;
}
input {
  font-family: "ff-din-web", Helvetica, Arial, sans-serif;
  margin: 0;
  -moz-appearance: none;
  -webkit-appearance: none;
}
hr {
  border: 0;
  margin-top: 3em;
}
.big, .section-title {
  letter-spacing: 0.04em;
}
.section-title {
  margin-bottom: 1em;
  font-size: 1.8em;
  color: #ed331a;
  text-transform: uppercase;
}
.bold {
  font-size: 1rem;
  font-weight: bold;
}
.big {
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
}
.intro {
  font-weight: bold;
}
.black {
  color: #111;
}
.red {
  color: #ed331a;
}
.yellow {
  color: #ffffba;
}

/* LAYOUT */
body {
	width: 100%;
}
.content-section {
  padding: 2em 0;
}
.title-section {
  overflow: hidden;
  padding: 1em 0 2em 0;
  background-color: #ed331a;
}
.program-section {
  background-color: #ffffba;
}
.synopsis-section {
  background-color: #ffffba;
}
.footer {
  background-color: #ed331a;
}
.wrap {
  width: 85%;
  margin: 0 auto;
}
@media screen and (min-width: 500px) {
  .wrap {
    width: 75%;
  }
}
@media screen and (min-width: 800px) {
  .wrap {
    width: 60%;
  }
}
@media screen and (min-width: 1200px) {
  .wrap {
    width: 50%;
  }
}
@media screen and (min-width: 1400px) {
  .wrap {
    width: 700px;
  }
}

/* DoD HEADER */
.dod-header {
  padding: 0.5em;
  background-color: #ffffba;
  text-align: center;
  font-family: "din-condensed-web", Helvetica, Arial, sans-serif;
}
.dod-logo {
  font-size: 1.2em;
}
.nav-element {
  display: inline-block;
  margin-left: 0.5em;
  margin-right: 0.5em;
  color: #111;
  text-decoration: none;
  text-transform: uppercase;
}
@media screen and (min-width: 440px) {
  .dod-logo {
    float: left;
    font-size: 1.2em;
    line-height: 1.3em;
  }
  .dod-nav {
    float: right;
  }
  .dod-header {
    clear: both;
    overflow: auto;
  }
}

/* HERO */
.huge-logo {
  width: 80vw;
  display: block;
  position: relative;
  left: 15vw;
}
.hero-content {
  margin-top: -2em;
}
@media screen and (min-width: 400px) {
  .hero-content {
    margin-top: -4em;
  }
  .huge-logo {
    margin-top: 1em;
  }
}
@media screen and (min-width: 460px) {
  .hero-content {
    margin-top: -6em;
  }
  .huge-logo {
    width: 70vw;
    left: 20vw;
  }
}
@media screen and (min-width: 700px) {
  .huge-logo {
    width: 50vw;
  }
}
@media screen and (min-width: 800px) {
  .hero-content {
    margin-top: -3em;
  }
  .huge-logo {
    left: 18vw;
  }
}
@media screen and (min-width: 1000px) {
  .huge-logo {
    width: 40vw;
  }
}
@media screen and (min-width: 1000px) {
  .huge-logo {
    width: 35vw;
    left: 14vw;
  }
}
@media screen and (min-width: 1400px) {
  .hero-content {
    margin-top: -6em;
  }
  .huge-logo {
    width: 30vw;
    left: 14vw;
  }
}
@media screen and (min-width: 1600px) {
  .hero-content {
    margin-top: -6em;
  }
  .huge-logo {
    width: 600px;
    left: 100px;
  }
}


/* PROGRAM */
.day {
  margin-bottom: 2em;
}
.day:last-of-type {
  margin-bottom: 0;
}
.day-info {
  margin-bottom: 2em;
}
.day-program {

}
.day * {
  font-size: 1rem;
  line-height: 1.4;
  margin-top: 0;
}
.day h1 {
  margin: 0;
}
.access-info {
  margin-top: 1em;
  font-style: italic;
}
@media screen and (min-width: 450px) {
  .day {
    display: flex;
  }
  .day-info {
    flex: 0 0 45%;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 650px) {
  .day {
    display: flex;
  }
  .day-info {
    flex: 0 0 35%;
    margin-bottom: 0;
  }
}

/* OTHER */
.uni-logo {
  height: 6rem;
}
.social-icon {
  width: 1rem;
  margin: 0 0.4rem -0.1rem;
}
.centered {
  text-align: center;
}
.footer {
  padding: 3em 0 4em;
  font-size: 0.9em;
}

/* MAILCHIMP */
.form {
  display: block;
}
.email, .button {
  margin: 0;
  padding: 1em 1.4em;
  border: none;
  border-radius: 0;
  font-size: 1rem;
  line-height: 1.2em;
  -moz-appearance: none;
  -webkit-appearance: none;
}
.email {
  width: 100%;
  margin-bottom: 1em;
  background-color: #ffffba;
  color: #ed331a;
}
.button {
  width: 100%;
  padding: 1em 1.4em;
  border: none;
  font-size: 1em;
  font-weight: bold;
  background-color: #111;
  color: #ffffba;
  cursor: pointer;
}
.button:hover {
  background-color: #444;
}
.button:active,.button:focus {
  background-color: #555;
}
@media screen and (min-width: 400px) {
  .form {
    display: flex;
  }
  .email {
    flex-grow: 3;

    width: auto;
    margin-bottom: 0;
  }
  .button {
    flex-grow: 0;

    width: auto;
  }
}
@media screen and (min-width: 1000px) {
  .email {
    flex-grow: 0;

    width: 60%;
  }
}
